	<ion-view view-title="స్తోత్రాలు" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-stotrasposts" class=" page-stotrasposts">
					<!-- code refresh -->
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			

			
			<!-- code listing -->
			<div class="list card animate-fade-slide-in-right">
				<a class="item item-icon-left"  ng-repeat="item in stotraslists | filter:filter_stotraslists as results" ng-init="$last ? fireEvent() : null" ng-href="#/telugu_stotralu/stotraslist_singles/{{item.id}}" >
					<i class="icon colorful ion-android-list"></i>
					<span ng-bind-html="item.title.rendered | to_trusted"></span>
				</a>
			</div>
			<!-- ./code listing -->
			<!-- code infinite scroll -->
			<ion-list class="list">
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="onInfinite()" distance="5px" ng-if="hasMoreData"></ion-infinite-scroll>
			</ion-list>
			<!-- ./code infinite scroll -->


			<!-- code search result not found -->
			<ion-list class="list">
				<div class="item" ng-if="results.length == 0" >
					<p>No results found...!</p>
				</div>
			</ion-list>
			<!-- code search result not found -->




		</ion-content>
		<!-- ./content -->
	</ion-view>
