	<ion-view view-title="Dashboard" hide-nav-bar="true" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-dashboard" class=" page-dashboard">
		
		<div class="dashboard-panel">
			<!-- row -->
			<div class="row">
				<a class="col-33 light positive-bg ink" ui-sref="telugu_stotralu.stotras" >
					<i class="icon ion-android-apps" ></i>
					<p>స్తోత్రాలు</p>
				</a>
				<a class="col-33 light positive-900-bg ink" ng-click="openAppBrowser('https://play.google.com/store/apps/developer?id=BGB%20Info&amp;hl=en_GB')" >
					<i class="icon ion-plus-round" ></i>
					<p>More Apps</p>
				</a>
				<a class="col-33 light calm-bg ink" ui-sref="telugu_stotralu.about_us" >
					<i class="icon ion-android-home" ></i>
					<p>About Us</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
