	<ion-view view-title="About Us" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class="padding page-about_us">
		
 
  <div class="text-center">
    <img class="avatar relative" ng-src="data/images/header/ganapathi.jpg" />
    <p>Telugu Stotralu 1.0</p>
  </div>
 
<br/>

<div class="list card">
 
  <a class="item item-icon-left" ng-click="openURL('https://www.facebook.com/bgbapps-1177387129015077/')" >
    <i class="positive icon ion-social-facebook"></i>
    Like Us on Facebook
  </a>
  
  <a class="item item-icon-left" ng-click="openURL('https://plus.google.com/u/0/114453493893673579530')" >
    <i class="assertive icon ion-social-googleplus"></i>
    Join us on Google+
  </a>
  
  <a class="item item-icon-left" ng-click="openURL('https://twitter.com/bgbappss')" >
    <i class="calm icon ion-social-twitter"></i>
   Follow me on Twitter
  </a>
  
   <a class="item item-icon-left" ng-click="openURL('mailto:bgbappss@gmail.com')" >
    <i class="icon ion-android-mail royal"></i>
    For Business Cooperation<br/>
    <span>
        Email: bgbappss@gmail.com
    </span>
  </a>
   
</div>

<br/>
<div class="text-center">
<p>&copy; 2016 <a ng-click="openURL('http://guming.com')" >GUMIG</a><br/>All Rights Reserved</p>
</div>


		</ion-content>
		<!-- ./content -->
	</ion-view>
